.banner-height {
    flex: 0 0 60%;
    height: 1px;
}

// pagination
.mat-paginator-range-label {
    font-size: 12px;
    color: #888888;
    opacity: 0.86;
    text-transform: uppercase;
    margin: 0 !important;
}

.mat-paginator-icon {
    fill: #F35727 !important;
}

.mat-paginator .mat-button-disabled .mat-paginator-icon {
    fill: #8888889f !important;
}
