
<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full flex-1">
        <div class="max-w-none sm:mx-auto py-8 px-4 sm:px-12">
            <div class="sm:grid sm:grid-cols-6 items-start gap-4" *ngIf="order$ | async as order">
                <div class="sm:col-span-4 bg-white shadow rounded-lg p-8 border-b">
                    <div class="mb-8 text-xl font-bold">Your Cart({{ order?.lines?.length }}): </div>
                    <div class="line flex justify-between gap-8 p-6 border-t flex-wrap" [class.border-b]="idx == order?.lines?.length - 1" *ngFor="let line of order?.lines; let idx = index">
                       <div class="flex-1 flex gap-3 ">
                            <div>
                                <img class="product-img rounded-lg" [src]="line.productVariant?.product?.featuredAsset?.preview" alt="line">
                            </div>
                            <div class="text-lg font-semibold">{{ line.productVariant.name }}</div>
                       </div>
                       <div class="flex flex-wrap items-center justify-end text-center gap-4">
                            <div>
                                <mat-form-field class="quantity m-0">
                                    <button mat-icon-button matPrefix  [disabled]="line.quantity <= 1" (click)="updateQuantity($event, line, line.id, line.quantity - 1, remove)">
                                      <mat-icon>remove</mat-icon>
                                    </button>
                                    <input class="text-center w-32" type="number" min="1" max="99" matInput [value]="line.quantity">
                                    <button mat-icon-button matSuffix [disabled]="line.quantity == 99" (click)="updateQuantity($event,line, line.id, line.quantity + 1, add)">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-form-field>
                            </div>
                            <div class="text-lg font-semibold text-right">{{ line.unitPrice}}</div>
                            <div>
                                <button mat-icon-button matSuffix (click)="deleteOderLine(line.id)">
                                    <mat-icon class="text-warn material-symbols-outlined">delete</mat-icon>
                                  </button>
                            </div>
                       </div>
                    </div>
                </div>
                <div class="sm:col-span-2 bg-white shadow rounded-lg p-4 mt-4 sm:mt-0">
                    <div class="text-lg font-semibold mb-4">Order Summary:</div>
                    <div class="flex iteme-center justify-between gap-2">
                        <div>
                            <div class="text-accent text-lg font-semibold">Price:</div>
                            <div class="text-md text-warn my-2">Tax:</div>
                        </div>
                        <div>
                            <div class="text-lg font-bold text-right">{{ order?.total }}</div>
                            <div class="text-md text-warn text-right text-semibold my-2">{{ order?.totalWithTax - order?.total }}</div>
                        </div>
                    </div>

                    <div class="flex justify-between items-center gap-2 py-4 mt-2 mb-8 border-t">
                        <div class="text-xl font-bold">Total:</div>
                        <div class="text-xl font-bold">{{ order?.totalWithTax }}</div>
                    </div>

                    <div class="flex">
                        <button mat-flat-button color="primary" class="flex-1">Proceed to checkout</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>